*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.all-btn{
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 15px;
    border: none;
    color: white;
}



body{
    width: 90%;
    height: auto;
    margin: auto;
    background-color: #F5F5F5;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0px;
}

.navbar .logo {
    font-size: 28px;
    font-weight: bold;
    color: #006A50;
}
.logo span {
    color: red;
}

.nav-btn {
    padding: 10px 20px;
    border: 1px solid #006A50;
    color:#006A50;
    border-radius: 8px;
    font-size: 15px;
}

.nav-btn:hover {
    background-color: #006A50;
    color: white;
    transition: all 0.3s;
}

.hero {
    background-color: #C6E4D6;
    height: 560px;
    width: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
}

.hero-chi {
    margin: 67px 0px;
    padding: 50px;
    justify-content: center;
}

.hero-chi p {
    color: #555;
    font-family: bold;
    font-size: 16px;
}

.hero-chi h1 {
    margin: 26px 0px;
    font-size: 56px;
    font-family: bold;
}

.hero-btn {
    padding: 15px 22px;
    background-color: #006A50;
    border: none;
    border-radius: 8px;
    color: white;
    margin-top: 13px;
}

.hero-btn:hover {
    background-color: #0c6e56d7;
    transition: background-color 0.3s ease;
}

.hero img {
    margin: 85px 61px 0px 0px;
    height: 400px;
    width: 447px;
    padding: 10px;
}


.box-Pila h4{
    margin: 35px 0px;
    font-size: 40px;
    font-family: bold;
    color: #0E0E0E;
}
.box-pare{
    display: flex;
    gap: 24px;
}

.box-Pila-chi {
    background-color: white;
    border-radius: 15px;
}


.all-box-chi {
    margin: 22px;
}

.all-box-chi h2 {
    font-size: 20px;
    font-family: bold;
    margin: 7px 0px;
}

.box-Pila p {
    margin-bottom: 26px;
    color: #555;
}

.Digital-btn {
    padding: 10px 20px;
    background-color:#5490F5;
    border: none;
    color: white;
    border-radius: 8px;
}

.Digital-btn:hover{
    background-color: #548ff5cc;
    transition: background-color 0.3s ease;
}

.Green-btn {
    padding: 10px 20px;
    background-color:#09A15C;
    border: none;
    color: white;
    border-radius: 8px;
}

.Green-btn:hover{
    background-color: #09a15dcb;
    transition: background-color 0.3s ease;
}

.Modern-btn {
    padding: 10px 20px;
    background-color:#FFC239;
    border: none;
    color: white;
    border-radius: 8px;
}

.Modern-btn:hover{
    background-color: #ffc439c2;
    transition: background-color 0.3s ease;
}


.Dr-pare {
    height: 221px;
    width: auto;
    background-color: #FFFFFF;
    margin-top: 35px;
    border-radius: 8px;
    border: 1px solid #55555536;
}

.Dr-chi {
    margin: 12px;
}

.Dr-chi img {
    margin: 18px 20px;
}

.h4-p-chi {
    margin: -67px 9px;
    color: #555;
    padding: 10px;
}

.Dr-chi h4 {
    margin: 20px 0px;
    color: rgba(0, 0, 0, 0.685);
}


.box-Opinion h4 {
    margin: 35px 0px;
    font-size: 40px;
    font-family: bold;
    color: #0E0E0E;
}

.Opinion-Matters {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}
.Matters .Mat-chi {
    text-align: right;
    margin-left: 98px;
    padding-right: 20px;
}



.box-Opinion table {
    width: 98%;
    border-collapse: collapse;
    border: 1px solid #cccccc; /* টেবিলের চারপাশে বর্ডার */
    margin: 7px 12px;
    /* justify-content: center; */
    align-items: center;
  }
  
  .box-Opinion th {
    background-color: #C6E4D6;
    color: #333;
    text-align: left;
    padding: 10px;
    font-size: 16px;
    /* border: 1px solid #ccc; */
  }
  
  .box-Opinion td {
    padding: 18px;
    font-size: 16px;
    color: #555;
    border: 1px solid #ccc;
  }
  
  .box-Opinion select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    background: #c6e4d6;
  }

